<template>
  <div id="diseases">
    <disease-list />
    <action v-show="actionComponentShowState !== 'hide'" :key="action._id" />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import DiseaseList from "@/components/DiseaseList.vue";
import Action from "@/components/Action.vue";

@Component({
  components: {
    DiseaseList,
    Action,
  },
})
export default class Home extends Vue {
  get action() {
    return this.$store.getters.getAction;
  }

  get actionComponentShowState() {
    return this.$store.getters.getMode;
  }

  created() {
    this.$store.dispatch("resetAction");
    this.$store.dispatch("mutateActionComponentMode", "hide");
  }
}
</script>

<style lang="postcss">
#diseases {
  @apply flex items-center;
  height: 90vh;
}
</style>

