<template>
  <div id="home">
    <section class="home__cards">
      <home-card :card-data="{ routeLink: '/diseases', title: 'Doenças' }" />
      <home-card :card-data="{ routeLink: '/wikis', title: 'Páginas Wiki' }" />
    </section>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import HomeCard from "@/components/HomeCard.vue";

@Component({
  components: {
    HomeCard,
  },
})
export default class Home extends Vue {}
</script>

<style lang="postcss">
#home {
  @apply flex flex-col items-center;
  height: 90vh;
}

.home__cards {
  @apply flex justify-center;
  @apply h-full w-full;
}
</style>
