<template>
  <div id="wikis">
    <wiki-list />
    <wiki-tab />
    <!-- <action v-show="actionComponentShowState !== 'hide'" :key="action._id" /> -->
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import WikiList from "@/components/WikiList.vue";
import WikiTab from "@/components/WikiTab.vue";

@Component({
  components: {
    WikiList,
    WikiTab,
  },
})
export default class Home extends Vue {}
</script>

<style lang="postcss">
#wikis {
  @apply flex items-center;
  height: 90vh;
}
</style>

