<template>
  <section id="action">
    <div class="card action__container">
      <div class="form__fields">
        <div class="action__field">
          <p class="action__label">Nome</p>
          <input
            class="action__input"
            type="text"
            v-model="actionData.name"
            placeholder="Ex.: Densitometria Óssea"
          />
        </div>
        <div class="action__field">
          <p class="action__label">Nota</p>
          <input
            class="action__input"
            type="text"
            v-model="actionData.disclaimer"
            placeholder="Ex.: Realizar questionário FRAX antes"
          />
        </div>
        <profile :profiles.sync="actionData.targetProfiles" />
        <p class="action__label">Tipo de ação</p>
        <div class="action__radio">
          <input
            type="radio"
            id="wiki"
            value="wiki"
            v-model="actionData.type"
          />
          <label for="wiki">Dados Wiki</label>
          <input
            type="radio"
            id="forms"
            value="forms"
            v-model="actionData.type"
          />
          <label for="forms">Questionário</label>
        </div>
        <div class="action__select" v-if="actionData.type === 'wiki'">
          <select
            class="action__input"
            name="actions__list"
            v-model="actionData.wikiID"
          >
            <option disabled value="">Por favor, selecione uma Wiki</option>
            <option
              v-for="wikiItem in wikisData"
              :key="wikiItem._id"
              :value="wikiItem._id"
              >{{ wikiItem.name }}</option
            >
          </select>
          <div
            class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
          >
            <svg
              class="fill-current h-4 w-4"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
            >
              <path
                d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
              />
            </svg>
          </div>
        </div>
      </div>
      <div class="action__buttons">
        <button class="button" @click="saveAction">
          Salvar
        </button>
        <!-- <button class="button button--secondary">
          Publicar no App
        </button> -->
        <button
          v-show="actionComponentShowState === 'edit'"
          class="button button--secondary button--danger"
          @click="deleteAction"
        >
          Deletar Ação
        </button>
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import WikiTab from "@/components/WikiTab.vue";
import Profile from "@/components/Profile.vue";
import requestService from "@/services/services";

@Component({
  components: {
    Profile,
    WikiTab,
  },
})
export default class Actions extends Vue {
  get actionComponentShowState() {
    return this.$store.getters.getMode;
  }

  get action() {
    return this.$store.getters.getAction;
  }

  private actionData: any = {};
  private wikisData = [];

  async created() {
    const { data } = await requestService.getWiki();

    this.wikisData = data.wikis;
    this.actionData = {
      ...this.action,
      type: "wiki",
    };
  }

  async saveAction() {
    const {
      diseaseID,
      name,
      disclaimer,
      targetProfiles,
      wikiID,
    } = this.actionData;

    const dataPayload = { diseaseID, name, disclaimer, targetProfiles, wikiID };

    if (this.actionComponentShowState === "new") {
      await this.createAction(dataPayload);
    } else if (this.actionComponentShowState === "edit") {
      await this.updateAction(dataPayload);
    }

    this.$store.dispatch("resetAction");
    this.$store.dispatch("mutateActionComponentMode", "hide");
    this.$store.dispatch("mutateDiseases");
  }

  createAction(payload: any) {
    requestService.postAction(payload);
  }

  updateAction(payload: any) {
    requestService.updateAction({ ...payload, _id: this.actionData._id });
  }

  deleteAction() {
    this.$swal({
      title: "Você tem certeza?",
      text:
        "Uma vez deletado, não será possível recuperar os dados dessa ação!",
      icon: "warning",
      buttons: true,
      dangerMode: true,
    }).then((willDelete: any) => {
      if (willDelete) {
        const { diseaseID, _id } = this.actionData;

        requestService
          .deleteAction({ diseaseID, _id })
          .then(() => {
            this.$swal("A doença foi deletada!", {
              icon: "success",
            });

            this.$store.dispatch("mutateDiseases");
            this.$store.dispatch("mutateActionComponentMode", "hide");
          })
          .catch(() => {
            this.$swal({
              title: "Alguma coisa errada aconteceu",
              text: "Tente novamente mais tarde!",
              icon: "error",
            });
          });
      }
    });
  }
}
</script>

<style lang="postcss">
#action {
  @apply flex;
  @apply h-full w-full;
}

.action__container {
  @apply flex-grow justify-between;
}

.form__fields {
  @apply flex flex-col;
  @apply overflow-y-auto;
}

.action__field {
  @apply my-2;
}

.action__label {
  @apply uppercase tracking-wide text-sm font-bold ml-1 mb-1 mt-2;
}

.action__input {
  @apply appearance-none w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight;
}

.action__input:focus {
  @apply outline-none bg-white border-gray-500;
}

.action__radio {
  @apply flex items-center mt-1 mb-4;
  @apply text-sm;
}

.action__radio input {
  @apply ml-2 mr-1;
}

.action__radio input:not(:first-of-type) {
  @apply ml-4;
}

.action__select {
  @apply relative w-1/2;
}

.action__buttons {
  @apply flex justify-center my-4;
}
</style>
