<template>
  <div id="disease">
    <div
      class="disease__description"
      :class="{ 'input__disease--active': disease.editMode }"
    >
      <p
        class="label__disease"
        :title="disease.name"
        v-show="!disease.editMode"
      >
        {{ disease.name }}
      </p>
      <input
        v-model.trim="disease.name"
        v-show="disease.editMode"
        class="input__disease"
        type="text"
        name="disease"
        placeholder="Nome da doença"
        ref="disease"
        @keyup.enter="submitDisease"
        @blur="submitDisease"
      />
      <span class="block__buttons">
        <span v-show="disease.editMode" class="input__button--active">
          <button
            class="button__item"
            @click="submitDisease"
            @mousedown.prevent
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              class="button__item--special bg-green-300 fill-current h-8 w-8"
            >
              <path d="M0 0h24v24H0z" fill="none" />
              <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z" />
            </svg>
          </button>
          <button
            class="button__item"
            @click="deleteDisease"
            @mousedown.prevent
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              class="button__item--special bg-red-400 fill-current h-8 w-8"
            >
              <path d="M0 0h24v24H0V0z" fill="none" />
              <path
                d="M16 9v10H8V9h8m-1.5-6h-5l-1 1H5v2h14V4h-3.5l-1-1zM18 7H6v12c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7z"
              />
            </svg>
          </button>
        </span>
        <button
          class="button__item"
          @click="mutateAction({ disease })"
          v-show="!disease.editMode"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            class="fill-current h-5 w-5"
          >
            <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
            <path d="M0 0h24v24H0z" fill="none" />
          </svg>
        </button>
        <button
          class="button__item"
          v-show="!disease.editMode"
          @click="editMode"
          @mousedown.prevent
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            class="fill-current h-5 w-5"
          >
            <path
              d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"
            />
            <path d="M0 0h24v24H0z" fill="none" />
          </svg>
        </button>
        <button
          class="button__item"
          v-show="!disease.editMode"
          @click="toggleCollapse"
        >
          <svg
            v-show="isCollapsed"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            class="fill-current h-5 w-5"
          >
            <path d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z" />
            <path d="M0 0h24v24H0z" fill="none" />
          </svg>
          <svg
            v-show="!isCollapsed"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            class="fill-current h-5 w-5"
          >
            <path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z" />
            <path d="M0 0h24v24H0V0z" fill="none" />
          </svg>
        </button>
      </span>
    </div>
    <div v-show="isCollapsed" class="disease__actions">
      <div class="action__name--empty" v-if="disease.actions.length === 0">
        Adicione ações a serem tomadas para {{ disease.name }} no ícone
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          class="inline fill-current h-5 w-5"
        >
          <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
          <path d="M0 0h24v24H0z" fill="none" />
        </svg>
        acima.
      </div>
      <div v-for="(action, index) in disease.actions" :key="index">
        <span
          class="link action__name"
          @click="mutateAction({ disease, action })"
          >{{ action.name }}</span
        >
        <p v-show="action.disclaimer" class="action__disclaimer">
          Nota: {{ action.disclaimer }}
        </p>
        <ul class="target__list">
          <li
            v-for="(targetProfile, index) in action.targetProfiles"
            :key="index"
          >
            {{ formatProfile(targetProfile) }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { mapActions } from "vuex";

@Component({
  methods: mapActions(["mutateAction"]),
})
export default class DiseaseItem extends Vue {
  @Prop() readonly disease!: any;

  public isCollapsed = false;
  public watchName = "";

  toggleCollapse() {
    this.isCollapsed = !this.isCollapsed;
  }

  formatProfile(profile: any) {
    return `${profile.sex} [${profile.minAge}, ${profile.maxAge}]`;
  }

  submitDisease() {
    if (this.watchName !== this.disease.name) {
      this.$emit("submit-disease", this.disease);
    }

    this.disease.editMode = false;
  }

  deleteDisease() {
    this.$swal({
      title: "Você tem certeza?",
      text:
        "Uma vez deletado, não será possível recuperar os dados dessa doença!",
      icon: "warning",
      buttons: true,
      dangerMode: true,
    }).then((willDelete: any) => {
      if (willDelete) {
        this.$emit("delete-disease", this.disease);
        this.$swal("A doença foi deletada!", {
          icon: "success",
        });
      }
    });
  }

  editMode() {
    if (!this.disease.editMode) {
      const inputText: any = this.$refs.disease;

      this.watchName = this.disease.name;
      this.disease.editMode = true;
      this.$emit("focus-input", inputText);
    }
  }
}
</script>

<style lang="postcss" scoped>
#disease {
  @apply w-full px-2;
}

.disease__description {
  @apply flex justify-between items-center;
  @apply bg-gray-200;
  @apply border rounded shadow;
  @apply h-12 px-4 mb-3;
  @apply text-xl text-gray-700 font-bold;
}

.label__disease {
  width: 240px;
  @apply truncate;
}

.input__disease {
  width: 220px;
  @apply bg-gray-200 border-b border-black;
  @apply mb-1 py-1 px-2;
  @apply text-black;
}

.input__disease--active {
  @apply border-gray-400;
}

.disease__actions {
  @apply flex flex-col;
  @apply mx-6 mb-2;
}

.block__buttons {
  @apply flex flex-no-wrap;
}

.button__item {
  @apply m-1 p-1;
  @apply outline-none;
  @apply rounded-full;
}

.button__item:hover {
  @apply bg-gray-400 border-gray-500;
}

.button__item--special {
  @apply border rounded-full p-1;
}

.action__name {
  @apply cursor-pointer;
}

.action__name--empty {
  @apply text-center break-words;
}

.action__disclaimer {
  @apply text-sm tracking-tight mx-4;
}

.action__edit {
  @apply mr-8;
  height: 18px;
  width: 18px;
}

.target__list {
  @apply ml-4;
}
</style>
