<template>
  <section id="disease-list">
    <div class="card card__main-left">
      <disease-item
        v-for="(diseaseItem, index) in diseases"
        :key="diseaseItem._id"
        :disease="diseaseItem"
        @submit-disease="updateDisease"
        @delete-disease="data => deleteDisease(data, index)"
        @focus-input="inputFocus"
      />
      <div class="card--empty" v-if="diseases.length === 0">
        Adicione uma nova doença para começar!
      </div>
    </div>
    <button class="button button--primary" @click="addDisease">
      Adicionar Doença
    </button>
  </section>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import DiseaseItem from "@/components/DiseaseItem.vue";
import requestService from "@/services/services";

@Component({
  components: {
    DiseaseItem,
  },
})
export default class DiseaseList extends Vue {
  get diseases() {
    return this.$store.getters.getDiseases;
  }

  created() {
    this.$store.dispatch("mutateDiseases");
  }

  async updateDisease(data: any) {
    await requestService.updateDisease({
      _id: data._id,
      name: data.name,
    });
  }

  async deleteDisease(data: any, index: any) {
    await requestService.deleteDisease({
      _id: data._id,
    });

    this.diseases.splice(index, 1);
  }

  addDisease() {
    const diseasesContainer: HTMLElement | null = this.$el.querySelector(
      ".card__main-left",
    );

    let inputText: HTMLElement | null;

    requestService
      .postDisease({ name: `Doenca ${this.diseases.length + 1}` })
      .then((response: any) => {
        this.diseases.push({
          _id: response.data.disease._id,
          name: `Doença ${this.diseases.length + 1}`,
          actions: [],
          editMode: true,
        });

        this.$nextTick(() => {
          diseasesContainer?.scrollTo({
            top: diseasesContainer.scrollHeight,
            behavior: "auto",
          });

          inputText = this.$el.querySelector(
            "#disease:last-child .input__disease",
          );

          this.inputFocus(inputText);
        });
      })
      .catch((error: any) => {
        console.log(error);
      });
  }

  inputFocus(el: HTMLElement | null) {
    this.$nextTick(() => {
      el?.focus();
    });
  }
}
</script>

<style lang="postcss">
#disease-list {
  @apply flex flex-col justify-between items-center;
  @apply h-full;
}
</style>
