<template>
  <div id="home-card" class="card">
    <div class="home--card__body">
      <p class="home-card__title">{{ cardData.title }}</p>
      <p>Atualizações recentes:</p>
    </div>
    <div class="home-card__link">
      <router-link class="link" :to="cardData.routeLink">
        Ver mais
      </router-link>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";

@Component
export default class HomeCard extends Vue {
  @Prop({ default: { routeLink: "", title: "" } }) readonly cardData: any;
}
</script>

<style lang="postcss" scoped>
#home-card {
  width: 350px;
  @apply flex flex-col justify-between;
  @apply m-8;
}

.home-card__title {
  @apply p-1 border-b border-black mb-4 mx-2;
  @apply text-center text-2xl font-bold;
}

.home-card__link {
  @apply text-center;
  @apply my-4;
}
</style>