<template>
  <nav id="navbar">
    <router-link to="/">
      <p class="navbar__title navbar__title--main">Plataforma CheckApp</p>
      <p class="navbar__title">Curadoria dos Dados</p>
    </router-link>
    <div class="navbar__user">F</div>
  </nav>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component
export default class Navbar extends Vue {}
</script>

<style lang="postcss" scoped>
#navbar {
  @apply flex justify-between items-center;
  @apply w-screen;
  @apply bg-gray-400 shadow-sm;
  @apply p-4;
  height: 10vh;
}

.navbar__title {
  @apply text-lg;
}

.navbar__title--main {
  @apply text-xl font-bold;
}

.navbar__user {
  @apply w-12 h-12;
  @apply border rounded-full;
  @apply bg-gray-500 shadow-sm;
  @apply text-center text-3xl font-bold text-gray-200;
}
</style>
