<template>
  <section id="profile">
    <p class="action__label">Perfil</p>
    <div class="action__profile">
      <div
        class="action__profile--item"
        v-for="(profile, index) in syncedProfiles"
        :key="index"
      >
        <div class="action__profile--data">
          <div class="profile__radio">
            <input
              type="radio"
              :id="`male-${index}`"
              value="masculino"
              v-model="profile.sex"
            />
            <label :for="`male-${index}`">Masculino</label>
            <input
              type="radio"
              :id="`female-${index}`"
              value="feminino"
              v-model="profile.sex"
            />
            <label :for="`female-${index}`">Feminino</label>
          </div>
          <div class="profile__age">
            Intervalo idade:
            <input
              type="text"
              v-model="profile.minAge"
              class="age__input"
              placeholder="min"
            />
            -
            <input
              type="text"
              v-model="profile.maxAge"
              class="age__input"
              placeholder="max"
            />
          </div>
        </div>
        <button class="action__profile--close" @click="removeProfile(index)">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            class="fill-current h-4 w-4"
          >
            <path d="M0 0h24v24H0z" fill="none" />
            <path
              d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"
            />
          </svg>
        </button>
      </div>
      <button class="profile__button" @click="addProfile">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          class="fill-current h-6 w-6"
        >
          <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
          <path d="M0 0h24v24H0z" fill="none" />
        </svg>
      </button>
    </div>
  </section>
</template>

<script lang="ts">
import { Component, PropSync, Watch, Vue } from "vue-property-decorator";
import ClassicEditor from "@ckeditor/ckeditor5-build-classic";
import WikiTab from "@/components/WikiTab.vue";

@Component
export default class Profile extends Vue {
  @PropSync("profiles", {
    type: Array,
    default: () => [{}],
  })
  syncedProfiles!: any[];

  addProfile() {
    this.syncedProfiles.push({});
  }

  removeProfile(index: number) {
    this.syncedProfiles.splice(index, 1);
  }

  // @Watch("profiles", { deep: true })
  // onProfileChange(currentValue: []) {
  //   this.$emit("profileUpdate", currentValue);
  // }
}
</script>
<style lang="postcss">
#profile {
  @apply flex flex-col;
}

.action__profile {
  @apply flex content-start flex-wrap;
}

.action__profile--item {
  @apply flex;
  @apply text-sm;
  @apply pl-1 mr-3 my-2;
  @apply border border-gray-300 rounded-md;
  @apply bg-gray-200 shadow-md;
}

.action__profile--data {
  @apply flex flex-col items-center;
  @apply my-4 ml-1;
  @apply text-sm;
}

.action__profile--close {
  @apply self-start m-1 p-1;
  @apply text-gray-700 text-sm;
  @apply rounded-full;
}

.action__profile--close:hover {
  @apply bg-gray-400 border-gray-500;
}

.profile__radio {
  @apply flex items-center;
}

.profile__age {
  @apply mt-2;
}

.age__input {
  @apply w-8 inline bg-gray-200;
  @apply text-center;
  @apply border-b border-black;
}

input[type="radio"] {
  @apply mx-1 outline-none;
}

.profile__button {
  @apply self-center;
  @apply p-1 ml-2 my-6;
  @apply text-gray-700;
  @apply border rounded-full;
  @apply bg-gray-200 shadow;
}

.profile__button:focus,
.action__profile--close:focus {
  @apply outline-none;
}

.profile__button:hover {
  @apply bg-gray-300 border-gray-400;
}
</style>