<template>
  <section id="wiki-list">
    <div class="card card__main-left">
      <div v-for="wiki in wikisData" :key="wiki._id" class="wiki__item">
        <p class="wiki__label">
          {{ wiki.name }}
        </p>
        <button class="wiki--edit">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            class="fill-current h-5 w-5"
          >
            <path
              d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"
            />
            <path d="M0 0h24v24H0z" fill="none" />
          </svg>
        </button>
      </div>
    </div>
    <button class="button button--primary" @click="addWiki">
      Adicionar nova Wiki
    </button>
  </section>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
// import Disease from "@/components/Disease.vue";
import requestService from "@/services/services";

@Component({
  components: {
    // Disease,
  },
})
export default class DiseaseList extends Vue {
  private wikisData = [];

  async created() {
    const { data } = await requestService.getWiki();

    this.wikisData = data.wikis;
  }

  addWiki() {
    console.log(this.wikisData);
  }
}
</script>

<style lang="postcss">
#wiki-list {
  @apply flex flex-col justify-between items-center;
  @apply h-full;
}

.wiki__item {
  @apply flex justify-between items-center;
  @apply bg-gray-200;
  @apply border rounded shadow;
  @apply h-12 px-4 mb-3;
  @apply text-xl text-gray-700 font-bold;
}

.wiki--edit {
  @apply m-1 p-1;
  @apply rounded-full;
}

.wiki--edit:hover {
  @apply bg-gray-400 border-gray-500;
}

.wiki--edit:focus {
  @apply outline-none;
}
</style>
