<template>
  <section id="wiki-tab">
    <div class="card wiki__container--main">
      <div class="wiki__container">
        <div class="wiki__body">
          <p class="tab__label">Nome da Wiki</p>
          <input
            class="tab__input tab__input--main"
            type="text"
            v-model="wikiData.name"
            placeholder="Ex.: Exame de Sangue"
          />
          <div
            class="wiki__tabs"
            v-for="(tab, index) in wikiData.tabs"
            :key="index"
          >
            <div class="tab__input--container">
              <input type="text" v-model="tab.name" class="tab__input" />
              <button class="tab__input--close" @click="removeTab(index)">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  class="fill-current h-4 w-4"
                >
                  <path d="M0 0h24v24H0z" fill="none" />
                  <path
                    d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"
                  />
                </svg>
              </button>
            </div>
            <ckeditor
              class="ckeditor"
              :editor="editor"
              v-model="tab.body"
              :config="editorConfig"
            ></ckeditor>
          </div>
        </div>
        <button @click="addWikiTab" class="tab__button">
          Adicionar Aba
          <img src="../assets/icons/add.svg" />
        </button>
      </div>
      <div class="wiki__buttons">
        <button class="button" @click="saveWiki">
          Salvar
        </button>
        <!-- <button
          v-show="actionComponentShowState === 'edit'"
          class="button button--secondary button--danger"
          @click="deleteAction"
        >
          Deletar Ação
        </button> -->
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import ClassicEditor from "@ckeditor/ckeditor5-build-classic";
import requestService from "@/services/services";

@Component
export default class WikiTab extends Vue {
  public wikiData = {
    name: "",
    tabs: [
      {
        name: "Nome da Aba 1",
        body: "",
      },
    ],
  };

  public editor = ClassicEditor;
  public editorData = "<p>Content of the editor.</p>";
  public editorConfig = {
    toolbar: [
      "heading",
      "|",
      "bold",
      "italic",
      "link",
      "bulletedList",
      "numberedList",
      "|",
      "indent",
      "outdent",
      "|",
      "blockQuote",
      "undo",
      "redo",
    ],
  };

  addWikiTab() {
    this.wikiData.tabs.push({
      name: `Nome da Aba ${this.wikiData.tabs.length + 1}`,
      body: "",
    });

    const wikiBody: HTMLElement | null = this.$el.querySelector(".wiki__body");

    this.$nextTick(() => {
      wikiBody?.scrollTo({
        top: wikiBody?.scrollHeight,
        behavior: "auto",
      });

      const inputText: HTMLElement | null = this.$el.querySelector(
        ".wiki__tabs:last-child .tab__input",
      );
      inputText?.focus();
    });
  }

  removeTab(index: number) {
    this.wikiData.tabs.splice(index, 1);
  }

  async saveWiki() {
    const { data: wikiResponse } = await requestService.postWiki({
      ...this.wikiData,
    });

    const wikiID = wikiResponse.wiki._id;
    console.log(wikiID);
    this.wikiData = {
      name: "",
      tabs: [
        {
          name: "Nome da Aba 1",
          body: "",
        },
      ],
    };
  }
}
</script>

<style lang="postcss">
#wiki-tab {
  @apply flex;
  @apply h-full w-full;
}

.wiki__container--main {
  @apply flex-grow justify-between;
}

.wiki__container {
  @apply flex flex-col justify-between;
  @apply border border-gray-300 rounded-md;
  @apply bg-gray-200 shadow-md;
  @apply overflow-y-auto;
}

.wiki__body {
  @apply flex flex-col;
  @apply overflow-y-auto;
  @apply p-2;
}

.wiki__tabs {
  @apply mt-1;
}

.tab__label {
  @apply ml-1 uppercase tracking-wide text-xs font-bold mb-2;
}

.tab__input {
  @apply w-full mt-2 mb-1 pl-1 pr-6;
  @apply bg-gray-200 border-b border-black;
}

.tab__input--container {
  @apply relative w-64 flex;
}

.tab__input--main {
  @apply mt-0 mb-2 text-lg;
}

.tab__input--close {
  @apply absolute right-0 p-1;
}

.tab__input--close:hover {
  @apply bg-gray-400 border-gray-500 rounded-full p-1;
}

.tab__input:focus,
.tab__input--close:focus {
  @apply outline-none;
}

.tab__button {
  @apply self-center flex justify-around;
  @apply w-40 my-2 py-1 px-2;
  @apply border border-black rounded-full;
}

.tab__button:focus {
  @apply outline-none;
}

.tab__button:hover {
  @apply bg-gray-400;
}

.ck-content {
  height: 180px;
}

.ck h2 {
  @apply text-3xl;
}

.ck h3 {
  @apply text-2xl;
}

.ck h4 {
  @apply text-xl;
}

.ck strong {
  @apply font-black;
}

.ck a {
  @apply text-blue-600 underline;
}

.ck ol {
  @apply ml-8 list-decimal;
}

.ck ul {
  @apply ml-8 list-disc;
}

.wiki__buttons {
  @apply flex justify-center my-4;
}
</style>