<template>
  <div id="app">
    <navbar />
    <router-view />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Navbar from "@/components/Navbar.vue";

@Component({
  components: {
    Navbar,
  },
})
export default class App extends Vue {}
</script>

<style lang="postcss">
@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-Regular.ttf");
}

html {
  @apply min-h-screen;
  @apply bg-gray-200;
}

#app {
  font-family: "Montserrat";
}

.card {
  @apply flex flex-col;
  @apply overflow-x-hidden;
  @apply bg-gray-100 shadow-xl;
  @apply rounded-lg px-3 pt-4 m-4;
}

.card__main-left {
  width: 420px;
  @apply flex-grow;
  @apply overflow-y-auto;
}

.card--empty {
  @apply text-5xl text-center text-gray-600 font-black tracking-tighter leading-tight;
  @apply my-24;
}

.button {
  @apply bg-teal-500;
  @apply mx-2 px-3 py-1;
  @apply rounded-md shadow outline-none;
  @apply text-lg text-white font-bold;
}

.button--primary {
  @apply text-xl;
  @apply mb-4 px-12 py-2;
}

.button--secondary {
  @apply bg-gray-100 border-2 border-teal-400;
  @apply text-black font-light;
}

.button--secondary:hover {
  @apply text-white bg-teal-400;
}

.button--danger {
  @apply border-red-400;
}

.button--danger:hover {
  @apply bg-red-400;
}

.button:hover:not(.button--secondary) {
  transform: scale(1.05);
}

.link {
  @apply text-lg text-blue-600 font-bold underline;
  @apply outline-none;
}

.swal-text {
  @apply text-center;
}
</style>
